<div class="panel"style="margin-top:10px">
    <div class="panel-heading">
      <h3 class="panel-title" style="float: left;">
        <i class="fa fa-tasks"></i>
        Customer List
      </h3>
    
      <button   [routerLink]="['/route-addcustomer']" class="btn btn-xs btn-primary float-right  mb-1 ml-1 btn-mat">New Customer</button>

    </div>
    <div class="panel-body">
      <table class="table table-border" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8  table-sm table-hover">
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-column"></tr>
      
  
       
  
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
        </ng-container>
    
    
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.middleName}} {{element.lastName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="KittaNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kitta No </th>
          <td mat-cell *matCellDef="let element"> {{element.kittaNo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="CitizenshipNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Citizenship No </th>
          <td mat-cell *matCellDef="let element"> {{element.citizenshipNo}} </td>
        </ng-container>

        <ng-container matColumnDef="View" >
          <th mat-header-cell *matHeaderCellDef style="width: 60px;"> View File </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/route-DownLoadDocument/', element.id]">
            <button mat-icon-button color="accent"*ngIf="element.isFileSave==true">
              <mat-icon>View</mat-icon>
            </button>
           
          </td>
        </ng-container>

        <ng-container matColumnDef="UploadFile">
          <th mat-header-cell *matHeaderCellDef style="width: 60px;"> UploadFile </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/route-addCustomerDocumentFile/', element.id]">
            <button mat-icon-button color="accent">
              <mat-icon>backup</mat-icon>
            </button>
           
          </td>
        </ng-container>
       
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width: 60px;"> Edit </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/route-Updatecustomer/', element.id]">
              <button mat-icon-button color="accent">
                <mat-icon class="mat-18">system_update</mat-icon>
              </button>
             
            </td>
          </ng-container>
          <ng-container matColumnDef="actionn">
            <th mat-header-cell *matHeaderCellDef style="width: 60px;"> Delete </th>
            <td mat-cell *matCellDef="let element"(click)="deleteCustomer(element)" >
    
              <button mat-icon-button color="warn">
                <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </td>
          </ng-container>
        
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
      </table>
    </div>
  </div>
  
  
  
    
    <p *ngIf="dataSource.data.length==0"><em>Empty Data</em></p>
    <mat-paginator [pageSizeOptions]="[10, 20,30,40,50 ]" showFirstLastButtons></mat-paginator>
  
  
  <!-- </mat-expansion-panel>
  </mat-accordion> -->